@import "src/theme/theme-variables";
@import "src/theme/_config";
@import "src/theme/_fonts";
@import "src/theme/_mixins";


figure {
  margin: 0;
}



.nav-link.dropdown-toggle {
  cursor: pointer;
}

:host(.app-header) {
  width: 60px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.toolbar {
  //@include get-primary-colors();
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: $primary;
  z-index: 3;
  box-sizing: border-box;
  /*3;*/
  color: #fff;

  .app-logo-icon {
    // width: 24px;
    // height: 24px;
    // background-color: #fff;
    border-radius: 4px;
    // color: #2C3897;
    font-weight: 500;
    color: #fff;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    // border-bottom: 3px solid #ff5452;
    cursor: pointer;
    display: none;

    figure {
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
    img {
      width: 35px;
      height: 35px;
    }
    }
  }

  .mat-icon {
    cursor: pointer;
  }
}

::ng-deep .app-header>.toolbar {
  .mat-icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 7px;
    font-size: 23px;
    height: 36px;
    width: 36px;

    &:hover {
      background-color: #202c82;
    }
  }
}

.primary-nav-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  /*2;*/
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background-color: rgba(9, 30, 66, 0.54);
  }

  .app-primary-nav {
    &.parent-menu {
      @supports (-ms-ime-align: auto) {
        overflow-x: hidden !important;
      }
    }

    //@include get-primary-colors();
    position: absolute;
    left: 64px !important;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
    animation-fill-mode: both;
    animation-name: slideOutUp;
    background: $primary;

    &.active {
      animation-name: slideInDown;
    }

    .toolbar {
      background-color: inherit;
      color: inherit;
      z-index: inherit;
    }

    .nav-data {
      flex: 1 1 auto;

      .alist-logo {
        // background-image: url('assets/images/A-ListLogo.svg');
        padding: 13px 16px;
        h1{
          color: #ffffff;
        }
      }
    }

    h2 {
      padding: 0.65em 16px;
      display: none;
    }

    .list {
      .item {
        float: left;
        // width: 33.3333%;
      }

      a {
        color: inherit;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 3px;
        @include medium-font;
        cursor: pointer;
        color: $menu-color;
        padding-right: 20px !important;

        &:hover {
          background-color: #283c52;
        }
      }

      .icon-wrap {
        display: inline-flex;
        width: 24px;
        height: 24px;
        /*background-color: #7F8C8D;*/
        margin-right: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 0px;

        .pixel-icons {
          // .mat-icon
          font-size: 16px;
          width: 16px;
          height: 16px;
        }
      }

      .nav-links {
        &.active {
          background-color: $menu-hover-bg;

          &:hover {
            background-color: $menu-hover-bg;
          }
        }

        &:hover {
          background-color: rgba(40, 60, 82, 0.55);
        }

        &:visited,
        &:focus,
        &:active,
        &:hover {
          outline: 0 none !important;
        }
      }
    }
  }

  &.actions {
    z-index: 4;

    .app-logo-icon {
      //  @include get-primary-colors();
    }

    .app-primary-nav {
      background-color: #fff;
      color: #172b4d;
    }
  }
}

.third-nav-container {
  .list {
    .item {
      float: left;
      // width: 33.3333%;
    }

    a {
      color: inherit;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 3px;
      @include medium-font;
      cursor: pointer;
      color: $menu-color;
      padding-right: 20px !important;

      &:hover {
        background-color: #283c52;
      }
    }

    .icon-wrap {
      display: inline-flex;
      width: 24px;
      height: 24px;
      /*background-color: #7F8C8D;*/
      margin-right: 8px;
      align-items: center;
      justify-content: center;
      border-radius: 0px;

      .pixel-icons {
        // .mat-icon
        font-size: 16px;
        width: 16px;
        height: 16px;
      }
    }

    .nav-links {
      &.active {
        background-color: $menu-hover-bg;

        &:hover {
          background-color: $menu-hover-bg;
        }
      }

      &:hover {
        background-color: rgba(40, 60, 82, 0.55);
      }

      &:visited,
      &:focus,
      &:active,
      &:hover {
        outline: 0 none !important;
      }
    }
  }
}

@media (min-width: 600px) {
  .toolbar {
    flex-direction: column;
    padding: 12px 0 20px 0;
    width: 64px;
    height: 100%;
    justify-content: space-between;

    .app-logo-icon {
      margin: 0 auto;
      display: inline-flex;
      margin-bottom: 16px;

      figure {
        width: 30px;
        height: 30px;
      }
    }

    .mat-icon {
      // margin-bottom: 16px;
    }
  }

  .primary-nav-container {
    overflow-x: hidden;

    .app-primary-nav {
      overflow-x: hidden;
      left: 0;
      top: 0;
      bottom: 0;
      width: 240px;
      animation-name: slideOutLeft;
      display: flex;
      -webkit-box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.3);
      box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.3);

      &.active {
        animation-name: slideInLeft;
      }

      h2 {
        display: block;
      }

      .list {
        .item {
          float: none;

          // width: 92%; /*100%;*/
          a.create-msg {
            cursor: pointer;
            color: #004bc4;

            &:hover {
              /*color: #005cff;*/
              background-color: #eceef7;
            }

            /*&:active{color: #0042a6;}*/
          }
        }
      }

      .list {
        padding: 0 16px;
      }
    }

    &.actions {
      .app-primary-nav {
        width: 600px;
      }
    }
  }
}

// side main menu bar
.seperator {
  width: 20px;
  margin: 0 auto;
  height: 1px;
  background: #fff;
  margin-bottom: 14px;
}

.side-menu-top {
  display: flex;
  flex-direction: column;
  .subscibe_img {
    width: 20px;
    height: 20px;
  }

  .mat-icon {
    margin-bottom: 16px;
  }
}

.side-menu-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    &:focus {
      outline: none;
    }
  }
}

.second-menu-icons {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
  i {
    color: #fff;
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    &.icon-stores {
      font-size: 21px;

      &:before {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }

    &.icon-settings {
      font-size: 22px;

      &:before {
        position: relative;
        top: 0;
        left: 1px;
      }
    }

    &.icon-vendors {
      font-size: 20px;

      &:before {
        position: relative;
        top: 2px;
        left: 4px;
      }
    }

    &.icon-contacts {
      font-size: 20px;

      &:before {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }

    &.icon-dashboard {
      // font-size: 20px;

      // &:before {
      //   position: relative;
      //   top: 2px;
      //   left: 2px;
      // }
    }

    &.icon-invite-team {
      font-size: 20px;

      &:before {
        position: relative;
        top: 1px;
        left: 3px;
      }
    }

    &.icon-user-roles {
      font-size: 21px;

      &:before {
        position: relative;
        top: 1px;
        left: 3px;
      }
    }

    &.icon-offices {
      font-size: 21px;

      &:before {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }

    &.icon-formats {
      font-size: 21px;

      &:before {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }

    &.icon-grid {
      font-size: 14px;
      height: 16px;
    }
  }

  &.gallery {
    background: #8182F7;
  }

  &.instances {
    background: #3DC4A6;

    // i {
    //   font-size: 20px;
    //   height: 20px;
    //   width: 20px;

    //   &:before {
    //     left: 1px;
    //     position: relative;
    //   }
    // }
  }

  &.users {
    background: #AA43D2;

    i {
      // font-size: 21px;
      // height: 21px;
      // width: 21px;
      // top: -1px;
      // position: relative;
      // left: 1px;
    }
  }

  &.settings {
    background: #F3483A;
  }
}

.menu-item-text {
  font-size: 14px;
}

.primary-nav-container {
  .app-primary-nav {
    .list {
      .item {}
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    height: 40px;

    .menu-item-text {
      font-size: 14px;
      height: 24px;
      line-height: 24px;
    }
  }
}

.side-menu-top {
  width: 100%;

  a {
    cursor: pointer;
    border-radius: 4px;
    padding: 0;
    font-size: 23px;
    height: 32px;
    width: 32px;
    display: block;
    margin: 0 auto;
    margin-bottom: 11px;
    color: #fff;
    position: relative;
    text-align: center;

    &:before {
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      content: '';
      background-color: #283c52;
      z-index: -1;
    }

    &:hover {
      // background: #303e50;
      text-decoration: none;

      &:before {
        transition: opacity 0.3s,
          -webkit-transform 0.3s;
        transition: transform 0.3s,
          opacity 0.3s;
        transition: transform 0.3s,
          opacity 0.3s,
          -webkit-transform 0.3s;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
    }

    &.active {
      &:after {
        position: absolute;
        content: "";
        width: 4px;
        height: 100%;
        background: #EF4638;
        left: -16px;
      }
    }
  }

  i {
    position: relative;
    top: 0;
    // top: 6px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px
  }
}

.nav-data {
  h2 {
    font-size: 21px;
    color: #fff;
    letter-spacing: 1.2px;
    font-weight: 600;
    @include medium-font;
    padding: 33px 31px 16px 35px !important;
  }
}

.side-menu-bottom {
  a {
    margin-bottom: 14px;
    text-decoration: none !important;

    i {
      font-size: 19px;
    }
  }
}

.app {
  &.dashboard-menu {
    .primary-nav-container {
      width: 304px;
      left: 64px;

      .app-primary-nav {
        left: 0px !important;
      }
    }

    .dashboard-container {
      padding-left: 240px;
    }
  }
}

.client-view {
  .toolbar {
    flex-direction: column;
    padding: 10px 0 20px;
    width: 64px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: $primary-color;
    z-index: 3;
    color: #fff;

    .app-logo-icon {
      padding: 10px;

      // background-color: #fff;
      border-radius: 4px;
      // color: #2C3897;
      font-weight: 500;
      color: #fff;
      font-size: 1.1em;
      justify-content: center;
      align-items: center;
      // border-bottom: 3px solid #ff5452;
      cursor: pointer;

      // display: none;
      figure {
        width: 24px;
        height: 24px;
      }
    }

    .mat-icon {
      cursor: pointer;
    }

    .side-menu-top {
      a {
        &:hover {
          background: #004188;
        }
      }
    }
  }

  .primary-nav-container {
    position: absolute;
    left: 0;
    right: 0;
    // right: initial;
    top: 0;
    bottom: 0;
    z-index: 3;

    /*2;*/
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      // background-color: rgba(9, 30, 66, 0.54);
    }

    .app-primary-nav {
      //@include get-primary-colors();
      position: absolute;
      left: 64px !important;
      top: 0;
      right: 0;
      height: 100%;
      overflow: auto;
      animation-duration: 0.2s;
      animation-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
      animation-fill-mode: both;
      animation-name: slideOutUp;
      background: $primary-color;
      overflow-x: hidden;

      &.active {
        animation-name: slideInDown;
      }

      .toolbar {
        background-color: inherit;
        color: inherit;
        z-index: inherit;
      }

      .nav-data {
        flex: 1 1 auto;

        .alist-logo {
          // background-image: url('assets/images/A-ListLogo.svg');
          padding: 16px 6px;
        }
      }

      h2 {
        padding: 0.65em 16px;
        display: none;
      }

      .list {
        .item {

          // float: left;
          // width: 33.3333%;
          &>span {
            color: #fff;
            font-size: 12px;
            margin-bottom: 10px;
            margin-top: 10px;
            display: block;
            padding-left: 14px;
            text-transform: uppercase;
          }
        }

        a {
          width: 100%;
          color: inherit;
          padding: 8px 12px;
          display: flex;
          align-items: center;
          text-decoration: none;
          border-radius: 3px;
          @include medium-font;
          color: $menu-color;

          &:hover {
            background-color: #283c52;
          }
        }

        .icon-wrap {
          display: inline-flex;
          width: 24px;
          height: 24px;
          /*background-color: #7F8C8D;*/
          margin-right: 8px;
          align-items: center;
          justify-content: center;
          border-radius: 0px;

          .pixel-icons {
            // .mat-icon
            font-size: 16px;
            width: 16px;
            height: 16px;
          }
        }

        .nav-links {
          &.active {
            background-color: #004188;

            &:hover {
              background-color: #004188;
            }
          }

          &:hover {
            background-color: rgba(0, 65, 136, 0.6);
          }

          &:visited,
          &:focus,
          &:active,
          &:hover {
            outline: 0 none !important;
          }
        }
      }
    }

    &.actions {
      z-index: 4;

      .app-logo-icon {
        //  @include get-primary-colors();
      }

      .app-primary-nav {
        background-color: #fff;
        color: #172b4d;
      }
    }
  }
}

.app-client-logo {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 0px;
  border-radius: 3px;

  .login-client-logo {
    height: 24px;
    width: 24px;
    background: #deebff;
    margin: 0 auto;
    border-radius: 3px;
  }
}

.author-profile {
  &.client-org-profile {
    &>pi-icon.md {
      i {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .author-info {
      padding-left: 10px;

      .author-subtext {
        color: #fff;
      }

      .pi-form-field {
        margin-top: 0;

        .pi-select-input {
          padding: 0px 20px 0px 0px;
          min-height: 20px;
          border: none;
          background: transparent;
          color: #fff;
          margin-top: 2px;

          pi-icon.md {
            width: 20px;
            height: 20px;

            i {
              position: relative;
              left: 7px;
              color: #fff;
            }
          }

          &:focus {
            box-shadow: none;
          }
        }

        label {
          color: #fff;
          display: block;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.3;
          padding: 0;
          letter-spacing: 0;
          margin-bottom: 0;
          margin-top: 1px;
        }

        .placeholder {
          font-weight: 500;
          letter-spacing: 0;
          font-size: 18px;
        }
      }
    }
  }
}

.mediaplans {
  .second-menu-icons {
    i {
      &.pixel-icons {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.second-menu-icons {
  i {
    &.icon-user-managment {
      font-size: 21px;
      position: relative;
      top: 2px;
      left: 2px;
    }

    &.icon-products {
      font-size: 21px;
      position: relative;
      top: 2px;
      left: 2px;
    }

    &.icon-refresh {
      font-size: 21px;
      position: relative;
      top: 2px;
      left: 2px;
    }
  }
}

.primary-nav-container {
  width: 304px;

  &.show {
    transform: translateX(-100%);
    transition: 0.3s all ease-in;
  }

  &.hide {
    transform: translateX(0%);
    transition: 0.3s all ease-in;
  }
}

// for children menu
.nav-data {
  min-width: 240px;

  &.show {
    transform: translateX(0);
    transition: 0.3s all ease-in;
  }

  &.hide {
    transform: translateX(-100%);
    transition: 0.3s all ease-in;
  }

  &.child {
    &.show {
      transform: translateX(-100%);
      transition: 0.3s all ease-in;
    }

    &.hide {
      transform: translateX(0%);
      transition: 0.3s all ease-in;
    }
  }
}

.back-to-menu {
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 13px 16px;

  i {
    margin-right: 5px;
    font-size: 20px;
    line-height: normal;
    height: 23px;
  }
}

.inner-nav-title {
  color: white;
  font-size: 18px;
  padding: 0.2rem 1rem 1.5rem;
  display: flex;
  align-items: center;

  .pixel-icon {
    background-color: #994db7;
    color: #fff;
    padding: 0.4rem;
    margin-right: 10px;
  }
}

.child-ref {
  display: flex;
  // align-items: flex-end;
  align-items: center;
  height: 40px;
  color: #fff;
  padding-left: 15px;
  cursor: pointer;

  i {
    height: 15px;
  }
}

.mitem {
  display: flex;
  width: 100%;
}

.third-nav-container {
  position: absolute;
  left: 64px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 240px;
  background: #f6f7fe;
}

.third-nav-container .app-primary-nav {
  width: 218px;
  padding: 0 0 0 12px;
}

.third-nav-container.thirdNavExist {
  left: -145px;
  display: flex !important;
}

.third-nav-container.thirdNavExist.thirdNavRegion {
  left: 64px;
  display: flex
}

.collapse-hover-region {
  width: 22px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  // border: 1px solid;
  // background: #ffffff;
}

.collapse-hover-line {
  width: 2px;
  transition: all 0.3s ease;
  background: #fff;
  // background: #6199e4;
}

.collapse-hover-region:hover .collapse-hover-line {
  // background:#0055d1;
  background: #6199e4;
}

.third-nav-container.show {
  display: flex;

}

.third-nav-container {
  transition: 0.3s all ease-out;
  // transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.client-view .third-nav-container .app-primary-nav .list a {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  font-family: "SFProText-Medium", Sans-Serif;
  cursor: pointer;
  color: #63686f;
  padding-right: 20px !important;
  width: 200px;
}

.third-nav-container .nav-links .menu-item-text {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}

.third-nav-container .app-primary-nav .list .nav-links.active {
  background-color: #edf0f2;
  color: #0049aa;
}

.third-nav-container .inner-nav-title {
  color: #63686f;
  font-size: 20px;
  padding: 2.2rem 0rem 2.2rem;
  display: flex;
}

.close-icn {
  position: absolute;
  right: -1px;
  top: 28px;
  font-size: 24px;
  opacity: 0;
  transition: 0.3s all ease-out;

}

.open-icn {
  position: absolute;
  right: -1px;
  top: 32px;
  font-size: 18px;
}

.collapse-icn {
  position: relative;
  right: 12px;
  top: 15px;
  font-size: 24px;
}

.close-icn::before {
  background: rgb(84, 100, 127);
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #13181f69;
  -moz-box-shadow: 0px 0px 6px #13181f69;
  -webkit-box-shadow: 0px 0px 6px #13181f69;
}


.third-nav-container.thirdNavExist:not(.thirdNavRegion) .close-icon {
  display: none;
}

.third-nav-container.thirdNavExist.thirdNavRegion {
  .expand-icon {
    display: none;
  }

  .prefill {
    background: transparent;
    border-right: 1px solid #dcdde2;
    opacity: 1;
  }
}

.collapse-hover-region:hover {

  .close-icn {
    opacity: 1;
    transition: 0.3s all ease-out;

    ::before {
      background: #0049aa;
    }
  }

  .open-icn::before {
    color: #0049aa;
  }
}

.third-nav-container.collapseRegion {
  left: -150px;
}

.prefill {
  width: 10px;
  opacity: 0.5;
  // background: #f6f7fe;  
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%);
}

.postfill {
  width: 10px;
  background: #fff;
}

.icon-collapse-menu:before {
  content: "\e015";
  color: #546483;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 6px #13181f69;
  padding: 3px;
}

.third-nav-container.hide {
  display: none;
}

.toggle-sec {
  .mat-slide-toggle-label {
    flex-direction: row-reverse;
    color: #fff;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #f99d22;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #f99d22;
  }

  .mat-slide-toggle-bar {
    background-color: #fff;
  }

  .mat-slide-toggle-content {
    padding-right: 10px;
  }

  span.mat-slide-toggle-content {
    font-family: "SFProText-Medium", Sans-Serif;
    // padding-left:20px;
    font-size: 14px;
    color: #deebff;

  }
}


// gallery Menu //
.primary-nav-container {
  .nav-data {
    .gallery-menu-items {
      margin-bottom: 50px;

      mat-list-item {
        font-family: "SFProText-Medium", Sans-Serif;
        color: #deebff;
        font-size: 14px;

      }

      .material-icons {
        padding-right: 5px;
      }
    }

  }

}