@import "../../assets/styles/mixins";

* {
    box-sizing: border-box;
  }
   
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 230px;
    height: 1000px; /* only for demonstration, should be removed */
    background-color: #F7F8FE;
    padding: 16px 16px 16px 0;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 10px;
    width: calc(100% - 230px); 
    background-color: #fff;
    flex-grow: 1;
    overflow: hidden;
    height: 100vh; /* only for demonstration, should be removed */
  }
  .section-title{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 46px;
     .icon-tile {
       width: 32px;
       height: 32px;
       border-radius: 6px;
       padding: 6px;
       background: #E75626;
       margin-right: 10px;
       display: flex;
       align-items: center;
       justify-content: center;
       i{
         color: #ffffff;
         font-size: 20px;
         font-weight: 400;
         height: 20px;
         width: 20px;
       }
     }
     h2{
       font-size: 16px;
       padding-bottom: 0px;
       margin-bottom: 0px;
       color: #42526E;
       letter-spacing: 0.03em;
       @include semiBoldFont;
     }
  }
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  .menu-list{
    li {
      display: block;
      color: #09074A;
      height: 36px;
      padding: 8px 16px;
      text-decoration: none;
      margin-bottom: 3px;
      border-radius: 0 3px 3px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include medium-font;
      font-size: 14px;
      i{
        font-size: 16px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        color: #38395E;
        margin-right: 10px;
      }
      &:hover{
        background: rgba(231, 232, 244, 0.65);
      }
      &.active{
        background: #E7E8F4;
      }
    }

  }
  
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  .instance-delete{
      float: right;
      color: #aba3a3;
      margin-left: 20px;
  }
  .instance-delete:hover{
    color: #151414;
}

.forsubmit {
  background: #0747a6;
  color: #fff;
}

input[type=text],input[type=password], select, textarea,ng-select {
  width: 30%;
  padding: 12px; 
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background: #0747a6;
  color: #fff;
  padding: 12px 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.invalid-feedback{
  color: red;
  font-size: 13px;
}
ul {
  list-style-type: none;
}
.divlayout{
  width: 40%;
  background-color: #ccc;
  margin-bottom: 5px;
  padding: 10px 10px;
  border: 3px solid #73AD21;
}
.editform {
  padding: 22px 0px;
  display: block;
    margin-top: 0em;
}
p span 
{
    display: block;
}


.instance-name {
  font-size: 21px;
  color: #56647d;
  @include mediumFont;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1.2;
  letter-spacing: -0.22px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.cancel {
  background: rgba(179,212,255,.6);
    color: #0052cc;
    padding: 12px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.active {
  background-color: #1a3882;
  color: white;
}
.error-message {
  padding-bottom: 15px;
}
.searchbox{
  width: 100% !important;
  height: 15px;
}
div.no-records {
  height: 10em; 
  position: relative;
 }
div.no-records p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

mat-form-field {
  width: calc(25% - 2.5rem); 
  font-size: 15px !important;
}
mat-label {
  font-size: 15px !important;
} 
mat-list-item {
  font-size: 15px !important;
}
.forsubmit[disabled] {
  background-color: #9e9597
}
.forsubmit[disabled]:hover {
  background-color: #9e9597
}
.admin-sidebar .head {
  border-top: 1px solid #e8e9ef;
  border-bottom: 1px solid #e8e9ef;
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
  align-items: center;
  background: #f6f7fe;
  padding-top: 10px;
}
.recon-admin-layout .admin-sidebar .head .mat-badge-center {
  display: flex;
  align-items: center;
}
.recon-admin-layout .admin-sidebar .head .sorting {
  @include mediumFont;
}
.sorting[_ngcontent-c10] {
  display: flex;
  align-items: center;
  margin-right: 10px;
}


  .head{
      border-bottom: 1px solid #e8e9ef; /*cdcdcd;*/
      padding: 10px 0;
      margin: 0 16px; /*20px;*/
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      /*font-size: 13px;*/
      .sorting{
          display: flex;
          align-items: center;
          margin-right: 10px;
          &:after{
              bottom: 2px;
              content: " ";
              border-color: #cbccce transparent transparent;
              border-top: 3px solid #cbccce;
          }
          &:before{
              bottom: 10px;
              content: " ";
              border-color: transparent transparent #5e6c84;
              border-bottom: 3px solid #5e6c84;
          }
          span{
              display: flex;
              align-items: center;
              /*margin-left: 4px;*/
              cursor: pointer;
              .mat-icon{
                  width: 20px;
                  height: 20px;
                  font-size: 20px;
              }   
          }
          .sort-action{
              position: relative;
          }
          .sort-action.a-z::before{
              display: block;
              height: 0px;
              position: absolute;
              right: -10px;
              width: 0px;
              bottom: 10px;
              content: " ";
              border-width: 3px;
              border-style: solid;
              border-color: transparent transparent rgb(94, 108, 132);
              border-image: initial;
              border-bottom: 3px solid rgb(94, 108, 132);
          }
          .sort-action.a-z::after{
              display: block;
              height: 0px;
              position: absolute;
              right: -10px;
              width: 0px;
              bottom: 2px;
              content: " ";
              border-width: 3px;
              border-style: solid;
              border-color: rgb(203, 204, 206) transparent transparent;
              border-image: initial;
              border-top: 3px solid rgb(203, 204, 206);
          }
          .sort-action.z-a::before{
              display: block;
              height: 0px;
              position: absolute;
              right: -10px;
              width: 0px;
              bottom: 10px;
              content: " ";
              border-width: 3px;
              border-style: solid;
              border-color: transparent transparent rgb(203, 204, 206);
              border-image: initial;
              border-bottom: 3px solid rgb(203, 204, 206);
          }
          .sort-action.z-a::after{
              display: block;
              height: 0px;
              position: absolute;
              right: -10px;
              width: 0px;
              bottom: 2px;
              content: " ";
              border-width: 3px;
              border-style: solid;
              border-color: rgb(94, 108, 132) transparent transparent;
              border-image: initial;
              border-top: 3px solid rgb(94, 108, 132);
          }

      }
      .mat-badge-center{
          /*padding-left: 8px;*/
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          margin-left: 4px;
          > span{
              display: flex;
              align-items: center;
              cursor: pointer;
              // width: 220px;
              .mat-icon{
                  width: 20px;
                  height: 20px;
                  font-size: 20px;
              }
              span{
                  max-width: 142px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  line-height: 20px;
                  height: 22px;
              }
          }
          ::ng-deep .mat-badge-content{
              background-color: transparent;
              font-size: 14px;
              width: auto;
              font-weight: 400;
              top: auto;
              position: relative;
              left: auto;
              margin-right: 6px;
          }
      }
  }
  .loader {
    left: 50%;
    margin-left: -4em;
  }
  