<div class="dashboard-container">
    <div class="dashboard-left-section">
        <h3 class="header-with-divider">Dashboard</h3>
        <div class="container-fluid primary-background ">
            <h4 class="sub-header" *ngIf="APP.user.user_type==2">My Instances</h4>
            <h4 class="sub-header" *ngIf="APP.user.user_type==1">Recent Instances</h4>
            <div class="primary-max-screen-width dashboard-cards w-100" style="position: relative;">
                <div class="dashboard-card-row" fxFlex="25"  *ngFor="let fav of recentInstances">
                <!-- <div class="dashboard-card "  routerLink="/instances/{{fav.id}}"> -->
                    <a style="text-decoration: none;" class="dashboard-card" [href]="fav.url" target="_blank">
                    <div class="card-content">
                        <div class="card-left">
                          <h2 [title]="fav.name">{{fav.name | slice:0:66}} <span *ngIf="fav.name.length > 66">...</span>
                          </h2>
                          <p [innerHtml]="fav.delivery_due_date"></p>
                          <!-- <p>Lorem Ipssum text...</p>  -->
                        </div>
                        <div class="card-right"><img [src]="fav.instancelogoUrl"  height="40" width="40"
                            (error)="displayDefaultImage($event)"/>
                        </div>
                    </div>
                    <div class="card-status">
                      <div class="job_status  status_{{fav.status_id}}">{{fav.status_name}}</div>
                    </div>
                </a>
                <!-- </div> -->
                </div>
                <!-- <div class="row margin--10" style="margin-bottom: 10px;">
                    <mat-grid-list cols="3" rowHeight="4:1">
                        <mat-grid-tile *ngFor="let fav of recentInstances">
                            <div class="card-ui">
                                <div class="favorite-card" routerLink="/instances/{{fav.id}}">
                                    <div class="job-holder">
                                        <div class="job-client-info">
                                            <h3 [title]="fav.name"> {{fav.name | slice:0:66}}<span
                                                    *ngIf="fav.name.length > 66">...</span></h3>
                                            <p [innerHtml]="fav.name"></p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center job-fav-info">
                                        <div class="job-status-holder">
        
                                            <div class="job_status  status_{{fav.status_id}}">{{fav.status}}</div>
                                        </div>
                                        <span [innerHtml]="fav.delivery_due_date"></span>
                                    </div>
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div> -->
            </div>
        </div>
        <div *ngIf="userType==1" class="recent-instances-grid">
            <h4 class="sub-header">All Instances</h4>
            <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham ag-grid-custom" [rowData]="rowData"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [animateRows]="true" [getRowHeight]="getRowHeight"
                [rowSelection]="rowSelection" (rowSelected)="onRowSelected($event)" [pagination]="false">
            </ag-grid-angular>
        </div>
    </div>
    <div class="dashboard-right-section">
        <div class="user-pic"  [style.backgroundImage]="'url('+ APP.user.profile_url +')'"></div>
        <div class="user-info"> 
            <div class="name">{{APP.user.name}}</div>
            <div class="email">{{APP.user.email}}</div>
        </div>
    </div>
</div>
