@import "_fonts";

// Font Mixins
@mixin regularFont {
  font-family: "SFProText-Regular", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
  }
}

@mixin regularFont() {
  font-family: "SFProText-Regular", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
  }
}

@mixin light-font {
  font-family: "SFProText-Light", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
  }
}

@mixin regular-font {
  font-family: "SFProText-Regular", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
  }
}

@mixin medium-font {
  font-family: "SFProText-Medium", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
  }
}

@mixin mediumFont() {
  font-family: "SFProText-Medium", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
  }
}

@mixin semibold-font {
  font-family: "SFProText-Semibold", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
  }
}

@mixin semiBoldFont() {
  font-family: "SFProText-Semibold", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
  }
}

@mixin bold-font {
  font-family: "SFProText-Bold", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }
}
@mixin boldFont() {
  font-family: "SFProText-Bold", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }
}
@mixin heavy-font {
  font-family: "SFProText-Heavy", Sans-Serif;

  body.g-fonts & {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
  }

  body.os-fonts & {
    font-family: -apple-system, BlinkMacSystemFont, Archivo, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }
}

//Typography
@mixin font-size-extra-small {
  font-size: 12px;
}
@mixin font-size-small {
  font-size: 14px;
}
@mixin font-size-regular {
  font-size: 16px;
}
@mixin font-size-x-regular {
  font-size: 18px;
}
@mixin font-size-large {
  font-size: 21px;
}
@mixin font-size-x-large {
  font-size: 28px;
}
@mixin font-size-xx-large {
  font-size: 32px;
}
@mixin font-size-xxx-large {
  font-size: 38px;
}
@mixin font-size-xxxx-large {
  font-size: 48px;
}

// margins
@mixin m-l-15 {
  margin-left: 15px;
}

//buttons
@mixin min-icon-button {
  width: 50px;
  height: 50px;
}

//layout

@mixin full-width-height {
  width: 100%;
  height: 100%;
}

// s

@mixin box-shadow-none {
  box-shadow: none;
}

// text-ellipsis

@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
